<section class="education-section">
  <section class="section-heading">
    <h3>{{ sectionTitle }}</h3>
  </section>

  <div class="education-list">
    <div class="education-card" *ngFor="let edu of educationList">
      <div class="edu-left">
        <div class="edu-icon" aria-hidden="true">
          <i class="fas fa-graduation-cap"></i>
        </div>
      </div>
      <div class="edu-right">
        <h4 class="degree">{{ edu.degree }}</h4>
        <p class="school">{{ edu.school }}</p>
        <div class="edu-footer">
          <span class="duration">{{ edu.duration }}</span>
          <span class="gpa" *ngIf="edu.gpa">{{ edu.gpa }}</span>
        </div>
      </div>
    </div>
  </div>
</section>
