# Angular cache
.angular/cache/

# Dependencies
node_modules/
package-lock.json
yarn.lock
pnpm-lock.yaml

# Production build
dist/
build/

# Development
*.log
.DS_Store
.vscode/settings.json
.idea/
*.swp
*.swo

# Environment
.env
.env.local
.env.*.local
